# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Admin\Desktop\yolo_pretrained_model\Yeni klasör\Yeni klasör\hafta-5-jdbc-ve-spring-odevi-sercanorc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
